@model Model.EF.SALE_OFFER

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layouts.cshtml";
}

<h2>Index</h2>
@section header{
    Thông tin chào bán
}
<div>
    
    @*<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id_Farm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id_Farm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Id_MassUnit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id_MassUnit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Id_ProductDetail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id_ProductDetail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date_SaleOffer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_SaleOffer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price_Offer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price_Offer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity_Offer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity_Offer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remain_SellQuantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remain_SellQuantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fine)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status_SaleOffer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status_SaleOffer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Is_Deleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Is_Deleted)
        </dd>*@

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id_SaleOffer }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
