@model Model.DTO.Farmer.SaleOfferDTO

@{
    ViewBag.Title = "FarmerOfferDetail";
    Layout = "~/Areas/Farmer/Views/Shared/_Layouts.cshtml";
}


<link href="~/Assets/trader/CSS/Offer.css" rel="stylesheet" />
<link href="~/Assets/common/CSS/nice-select.css" rel="stylesheet" />
<link href="~/Assets/common/CSS/BeautifulButton.css" rel="stylesheet" />


<link href="~/Assets/common/CSS/nice-select.css" rel="stylesheet" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>

<script src="~/Assets/common/JS/jquery.nice-select.js"></script>
<script src="~/Assets/common/JS/niceSelectBoxScript.js"></script>
<script src="~/Assets/farmer/JS/FarmerOfferDetail.js"></script>

<input id="saleOfferId" type="hidden" value="@Model.saleOfferid" />
<input id="remainQuantity" type="hidden" value="@Model.remain" />
<div class="row">
    <div class="col-md-4">
        <div class="col-md-6">
            <div class="mu-about-us-left" style="padding-top:70px;">
                <img src="@Url.Content(Model.image)" style="height:300px; width:500px" />

                <ul>
                    <li>Tên Nông Sản: @Html.DisplayFor(x => x.productName)</li>
                    <li>Tên Giống: @Html.DisplayFor(x => x.seedName)</li>
                    <li>Đơn Giá @Html.DisplayFor(x => x.price)</li>
                    <li>Khối Lượng đặt ban đầu: @Html.DisplayFor(x => x.quantity)</li>
                    <li>Khối Lượng còn lại: @Html.DisplayFor(x => x.remain)</li>
                    <li>Đơn vị: @Html.DisplayFor(x => x.massName) </li>
                    <li>Thời gian giao tiền: @Html.DisplayFor(x => x.payingTime) </li>
                    <li>Thời gian giao hàng: @Html.DisplayFor(x => x.deliveringTime) </li>

                    @{var isAttachmentA = (Model.canBargain.Value ? "Có" : "Không");}
                    <li>Có thể thương lượng: @Html.DisplayFor(modelItem => isAttachmentA)</li>

                </ul>
            </div>
        </div>

        <div class="col-md-6">
            <div class="mu-about-us-left">

            </div>
        </div>

    </div>
    <div class="col-md-7">
        <Center><h2>Đơn Đặt Mua Phù Hợp</h2></Center>
        <table id="suitablePurchaseOfferTbl" class="table table-striped table-bordered table-hover" style="width: 970px;">
            <thead>
                <tr>
                    <th>Thương Lái</th>
                    <th>Sản Phẩm</th>
                    <th>Giống</th>
                    <th>Khối Lượng</th>
                    <th>Đơn Vị</th>
                    <th>Đơn Giá <br /> (VND/tấn)</th>
                    <th> Chi tiết</th>
                </tr>
            </thead>
        </table>



        <Center><h2>Đơn Đặt Mua Từ Thương Lái</h2></Center>
        <table id="purchaseOfferFromSaleOffer" class="table table-striped table-bordered table-hover" style="width: 100%">
            <thead>
                <tr>
                    <th>Ngày Đặt</th>
                    <th>Thương Lái</th>
                    <th>Sản Phẩm</th>
                    <th>Giống</th>
                    <th>khối Lượng</th>
                    <th>Đơn Vị<br /> (VND/tấn)</th>
                    <th>Giá</th>
                    <th>Tổng Tiền<br /> (VND)</th>
                    <th>Trạng Thái</th>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>




    </div>
</div>

