<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/Assets/HTML/SpicyX/resized-images/Icon/icon-corn.png" type="image/x-icon">

    <!-- Font awesome -->
    <link href="~/Assets/HTML/SpicyX/css/font-awesome.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="~/Assets/HTML/SpicyX/css/bootstrap.css" rel="stylesheet">
    <!-- Slick slider -->
    <link rel="stylesheet" type="text/css" href="~/Assets/HTML/SpicyX/css/slick.css">
    <!-- Date Picker -->
    @*<link rel="stylesheet" type="text/css" href="~/Assets/HTML/SpicyX/css/bootstrap-datepicker.css">*@
    <!-- Fancybox slider -->
    <link rel="stylesheet" href="~/Assets/HTML/SpicyX/css/jquery.fancybox.css" type="text/css" media="screen" />
    <!-- Theme color -->
    <link id="switcher" href="~/Assets/HTML/SpicyX/css/theme-color/default-theme.css" rel="stylesheet">

    <!-- Main style sheet -->
    <link href="~/Assets/HTML/SpicyX/style.css" rel="stylesheet" />
    <link href="~/Assets/common/CSS/panel.css" rel="stylesheet" />
    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Tangerine' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Prata' rel='stylesheet' type='text/css'>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel='stylesheet' type='text/css'>


    <!-- jQuery library -->
    <script src="~/Assets/HTML/SpicyX/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="~/Assets/HTML/SpicyX/js/bootstrap.js"></script>
    <!-- Slick slider -->
    <script type="text/javascript" src="~/Assets/HTML/SpicyX/js/slick.js"></script>
    <!-- Counter -->
    <script type="text/javascript" src="~/Assets/HTML/SpicyX/js/waypoints.js"></script>
    <script type="text/javascript" src="~/Assets/HTML/SpicyX/js/jquery.counterup.js"></script>
    <!-- Date Picker -->
    <script type="text/javascript" src="~/Assets/HTML/SpicyX/js/bootstrap-datepicker.js"></script>
    <!-- Mixit slider -->
    <script type="text/javascript" src="~/Assets/HTML/SpicyX/js/jquery.mixitup.js"></script>
    <!-- Add fancyBox -->
    <script type="text/javascript" src="~/Assets/HTML/SpicyX/js/jquery.fancybox.pack.js"></script>

    <!-- Custom js -->
    <script src="~/Assets/HTML/SpicyX/js/custom.js"></script>


    <!--ChenLong-->
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">*@

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>


    <link href="~/Assets/common/CSS/Font-Awesome-all.css" rel="stylesheet" />
    @*<link href="~/Assets/admin/css/sb-admin.css" rel="stylesheet">*@
    @*<link href="~/Assets/admin/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet" />*@
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">*@
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.1/jquery-confirm.min.css">*@

    <link href="~/Assets/common/CSS/Animated.css" rel="stylesheet" />
    <link href="~/Assets/common/CSS/pretty-checkbox.css" rel="stylesheet" />

    <script src="~/Assets/common/JS/Numeric.js"></script>

    <link href="~/Assets/common/CSS/jquery.feedback_me.css" rel="stylesheet" />
    <link href="~/Assets/common/CSS/FeedBackCustom.css" rel="stylesheet" />
    <script src="~/Assets/common/JS/jquery.feedback_me.js"></script>
    <script src="~/Assets/common/JS/FeedBack.js"></script>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/css/bootstrapValidator.min.css" />
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/js/bootstrapValidator.min.js"></script>

    @*<link href="~/Assets/common/CSS/jquery-ui.css" rel="stylesheet" />*@

    @*<link href="~/Assets/common/CSS/Custom.css" rel="stylesheet" />*@

    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>*@
    @*<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>*@
    @*<script src="~/Assets/admin/js/jquery.unobtrusive-ajax.min.js"></script>*@


    @*<script src="~/Assets/admin/js/sb-admin-2.min.js"></script>*@
    @*<script src="~/Assets/admin/vendor/jquery-easing/jquery.easing.min.js"></script>*@
    @*<script src="~/Assets/common/JS/jquery-ui.js"></script>
        <script src="~/Assets/common/JS/jquery.nice-select.js"></script>*@
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>*@

    @*<script src="~/Assets/common/JS/niceSelectBoxScript.js"></script>*@
    <!--/ ChenLong-->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <!-- Pre Loader -->
    @*<div id="aa-preloader-area">
            <div class="mu-preloader">
                <img src="~/Assets/HTML/SpicyX/img/preloader.gif" alt=" loader img">
            </div>
        </div>*@
    <!--START SCROLL TOP BUTTON -->
    @*<a class="scrollToTop" href="#">
        <i class="fa fa-angle-up"></i>
        <span>Top</span>
    </a>*@
    <!-- END SCROLL TOP BUTTON -->
    <!-- Start header section - NAVIGATION BAR-->
    <header id="mu-header">
        <nav class="navbar navbar-default mu-main-navbar" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <!-- FOR MOBILE VIEW COLLAPSED BUTTON -->
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- LOGO -->
                    <a class="navbar-brand" href="/Home/Index"><img src="~/Assets/HTML/SpicyX/img/logo.png" alt="Logo img"></a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul id="top-menu" class="nav navbar-nav navbar-right mu-main-nav">
                        <li><a href="/Home/Index">TRANG CHỦ</a></li>


                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="blog-archive.html">GIAO DỊCH<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="/TraderOffer/TraderOfferIndex">Tìm kiếm thỏa thuận </a></li>
                                <li><a href="/TraderTransaction/TraderTransactionIndex">GIao dịch đang hoạt đông</a></li>
                                <li><a href="/TraderTransactionHistory/TraderTransactionHistoryIndex">Lịch Sử giao dịch</a></li>
                            </ul>
                        </li>

                        <li><a href="/Analysist/AnalysistIndex">PHÂN TÍCH & BIỂU ĐỒ</a></li>

                        @{
                            var session = (UserLoginSession)Session[FarmHub.Common.Constant.USER_SESSION];
                        }

                        @if (session == null)
                        {
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="blog-archive.html">TÀI KHOẢN<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="/Register/CreateRegister">ĐĂNG KÝ TÀI KHOẢN</a></li>
                                    <li><a href="/Login/LoginIndex">ĐĂNG NHẬP</a></li>
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="blog-archive.html">XIN CHÀO @session.UserName<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="@Url.Action("Account","Trader")">CHỈNH SỬA THÔNG TIN</a></li>
                                    <li><a href="@Url.Action("Logout","Login")">ĐĂNG XUẤT</a></li>
                                </ul>
                            </li>
                        }
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>
    </header>
    <!-- End header section -->
    @RenderBody()
    <!-- Start Footer -->
    <footer id="mu-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mu-footer-area">
                        <div class="mu-footer-social">
                            <ul style="color:white;">
                                <li><span class="fas fa-user-friends"></span></li>
                                <li><h4 style="font-weight:bold;">Nhóm Phát Triển</h4> </li>
                                <li>Giảng Viên Hướng Dẫn : Ths.Bùi Thị Thanh Tú</li>
                                <li> Trần Hoàng Long</li>
                                <li> Phùng Ngô Trọng Nghĩa</li>
                            </ul>
                          
                        </div>

                       
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer -->
</body>
</html>