@model Model.EF.SEED

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>SEED</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Id_Product, "Id_Product", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Id_Product", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Id_Product, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Name_Seed, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input name="Name_Seed" id="searchInput" class="form-control" required="" oninvalid="this.setCustomValidity('Thông tin này không được để trống')" oninput="this.setCustomValidity('')" />
                @Html.ValidationMessageFor(model => model.Name_Seed, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Code_Seed, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input name="Code_Seed" id="searchInputCodeSeed" class="form-control" required="" oninvalid="this.setCustomValidity('Thông tin này không được để trống')" oninput="this.setCustomValidity('')" />
                @Html.ValidationMessageFor(model => model.Code_Seed, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<!--Auto Complete-->
<script src="~/Scripts/jquery-3.3.1.min.js"></script>

<link rel="stylesheet" href="code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<script src="http://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>

<script>
    $("#searchInput").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: '@Url.Action("GetSearchValue", "Seed")',
                dataType: "json",
                data: { search: $("#searchInput").val() },
                success: function (data) {
                    response($.map(data, function (item) {
                        return { label: item.Name_Seed, value: item.Name_Seed };
                    }));
                },
                error: function (xhr, status, error) {
                    alert("Error");
                }
            });
        }
    });
</script>

<script>
    $("#searchInputCodeSeed").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: '@Url.Action("GetSearchValueCodeSeed", "Seed")',
                dataType: "json",
                data: { search: $("#searchInputCodeSeed").val() },
                success: function (data) {
                    response($.map(data, function (item) {
                        return { label: item.Code_Seed, value: item.Code_Seed };
                    }));
                },
                error: function (xhr, status, error) {
                    alert("Error");
                }
            });
        }
    });
</script>